@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.heading {
  font-size: 25px;
  font-weight: bold;
  color: #1f2933;
}

.img1 {
  height: 80px;
  width: 70px;
}

.vr-cardcontainer {
  margin: 10px;
  text-align: center;
}

.cardheading {
  font-size: 20px;
  font-weight: normal;
  color: #1f2933;
}

.cardpara {
  font-size: 15px;
  color: #7b8794;
  padding: 15px;
}
